<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TrainingAssistant</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename='Jcrop/js/jquery.Jcrop.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Jcrop/css/jquery.Jcrop.css')}}"/>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/mine.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css')}}"/>
    
    <script type="text/javascript">
      var imgsrc = '{{ imgsrc }}';
      var imgnum = '{{ imgnum }}';
      var count = '{{ count }}';
    </script>

  </head>
  <body>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <span class="count">{{ counter }}</span>
          <div align="center" class="head-wrapper">
            <div class="progress progress-danger active">
              <div class="bar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container main-wrapper">
      <div id="canvas-wrapper"></div>
    </div>

    <div class="navbar navbar-fixed-bottom navbar-inverse">
      <div class="navbar-inner">
        <div align="center" class="container">
          <div class="btn-group">
            <button class="btn btn-info btn-large" id="reset">RESET</button>
            <button class="btn btn-warning btn-large" id="skip">SKIP</button>
            <button class="btn btn-success btn-large" id="next">NEXT</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
